body {
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

section {
    margin-bottom: 36px;
    border-top: 1px solid #D4D4D4;
}

.draggable-example {
    padding: 4px;
    background: gray;
    font-size: 12px;
    font-family: Consolas, Menlo, monospace;
    color: white;
}

.non-draggable-example {
    margin: 10px;
    padding: 4px;
    background: lightgray;
    color: black;
}

pre {
    background-color: lightgray;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 20px;
    margin-top: 0;
}

code {
    font-family: Consolas, Menlo, monospace;
    font-size: 12px;
    position: relative;
}

.note {
    background-color: rgb(170, 170, 170);
    color: white;
    padding: 2px;
    font-size: 10px;
}

.result {
    font-family: Consolas, Menlo, monospace;
    color: darkslategrey;
}

.sidebar {
    border-right: 1px solid #D4D4D4;
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;

    overflow: auto;
    height: 100%;

    margin: 0;
    padding: 0;

}

.sidebar ol {
    padding: 0;
}

.sidebar a {
    color: #858585;
    display: inline-block;
    width: 100%;
    line-height: 36px;
    text-indent: 16px;
    font-size: 16px;
    font-weight: bold;
}

main {
    margin-left: 200px;
    padding: 0 24px;
    display: block;
}

